/target
/resources/App%20Icon%20Template.svg
/resources/Mac_App_Template.psd
/resources/Windows_Installer.iss
/src/backupmain.rs
/download
/resources/view.mov
.gitignore
/Cargo.lock
/.txt

/.DS_Store
